.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  // margin-top: auto;
  // padding: 0 3.5rem; // optional if needed.
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'previous numbers next';
  width: 100%;
  justify-items: center; // aligns everything center
  align-items: center;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      grid-area: previous; // add. feature
      // float: left; // changed in the additonal features
    }
    &--next {
      grid-area: next; // add. feature
      // float: right; // changed in the additonal features
    }
  }

  // ADDED WITH ADDITIONAL FEATURES
  .pages_block {
    grid-area: numbers;

    .total__pages {
      color: $color-primary;
      font-size: 15px;
      font-family: Nunito Sans, sans-serif;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
